<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" 
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" 
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" 
  xmlns:desktop4="http://schemas.microsoft.com/appx/manifest/desktop/windows10/4"
  xmlns:iot2="http://schemas.microsoft.com/appx/manifest/iot/windows10/2"   
  IgnorableNamespaces="uap mp">
  <Identity Name="55505Exe-Creation.KAENX" Publisher="CN=92410570-9637-4D05-BB82-BCB990CF0C1C" Version="0.0.12.0" />
  <mp:PhoneIdentity PhoneProductId="d5ad105d-c5a0-4668-a9e1-ffdd84ab2e9f" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>KAENX</DisplayName>
    <PublisherDisplayName>MikeGerst</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="METS.App" desktop4:SupportsMultipleInstances="true" iot2:SupportsMultipleInstances="true">
      <uap:VisualElements DisplayName="A KÆNX" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="KAENIX dient zur Parametrierung und Inbetriebnahme von KNX-Geräten."  BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square71x71Logo="Assets\SmallTile.png" Square310x310Logo="Assets\LargeTile.png">
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png"  BackgroundColor="#bfb4aa"/>
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="knx-produktdatenbank">
            <uap:SupportedFileTypes>
              <uap:FileType>.knxprod</uap:FileType>
            </uap:SupportedFileTypes>
            <uap:DisplayName>KNX-Produktdatenbank</uap:DisplayName>
            <uap:Logo>Assets\FileLogo.png</uap:Logo>
          </uap:FileTypeAssociation>
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="privateNetworkClientServer" />
    <Capability Name="internetClientServer" />
  </Capabilities>
</Package>